    <main class="container">
        <section class="seleccionado">
            <picture>
                <img class="img-item" src="/uploads/funko_<%= producto.id%>.webp"
                    alt="Figura Funko de <%= producto.nombre%>">
            </picture>
            <article>
                <p class="licencia">star wars</p>
                <h1 class="nombre-gde"><%= producto.nombre%></h1>
                <p class="descripcion"> Figura coleccionable de <%= producto.nombre%>, edición
                    limitada.</p>
                <p class="precio-gde">$ <%= producto.precio%></p>
                <div class="cantidades">
                    <input type="number" name="quantity" id="quantity" placeholder="1">
                    <div class="cantidad">
                        <button id="item-sumar" class="sum-res">+</button>
                        <button id="item-restar" class="sum-res">-</button>
                    </div>
                    <button class="agregar">agregar al carrito </button>
                </div>
                <span class="metodos-pago">
                    <a class="pagar" href="/faqs">Ver métodos de pago </a>
                    <p class="promo"> - 3 cuotas sin interés</p>
                </span>
            </article>
        </section>
        <section class="seccion-secundaria container glide">
            <h2>Productos Relacionados</h2>
            <div class="glide__track" data-glide-el="track">
                <div class="slide glide__slides">
                    <% relacionados.forEach(relacionado => {%>
                    <article class="card-item glide__slide" id="articulo">
                        <span class="nuevo">NUEVO</span>
                        <a href="/store/item/1">
                            <picture class="card-item-cover">
                                <img class="img-front" src="/uploads/funko_<%= relacionado.id%>.webp"
                                    alt="Figura Funko de Star Wars: Stormtrooper">
                                <img class="img-back" src="/uploads/funko_<%= relacionado.id%>_.webp"
                                    alt="Figura Funko de Star Wars: Stormtrooper en Caja">
                            </picture>
                            <div class="item-content">
                                <p class="licencia">STAR WARS</p>
                                <h4 class="nombre"><%= relacionado.nombre%></h4>
                                <p class="precio"><%= relacionado.precio%></p>
                                <p class="promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                    <% }) %>
                </div>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon
                        icon="ic:twotone-chevron-left"></iconify-icon></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon
                        icon="ic:twotone-chevron-right"></iconify-icon></button>
            </div>
        </section>
    </main>

    <!-- scripts -->
    <script src="js/item.js"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 30,
            breakpoints: {
                991: {
                    perView: 2
                },
                768: {
                    perView: 2,
                    focusAt: 0
                },
                426: {
                    perView: 1,
                    focusAt: 0
                }
            }
        }).mount()
    </script>
    <!-- end scripts -->

    <%- contentFor('title') %>
        Item!
    <%- contentFor('extracss') %>
        <link rel="stylesheet" href="/css/item.css">