<p>soy el adminLayout</p>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- defineContent('meta') %>
    <title><%- title %></title>
    <%- defineContent('css') %>
    <%- defineContent('extra-css') %>
    <!-- <link type="text/css" rel="stylesheet" href="/css/style.css"> -->
    <!-- <link type="text/css" rel="stylesheet" href="/css/admin.css"> -->
</head>

<body>

<%- include ('../partials/adminHeader.ejs') %>

<%- body %>

<%- include ('../partials/footer.ejs') %>

</body>

</html>